.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.no-margin {
  margin: 0;
}

.factory-animation{
  position: absolute;
  top: 400px;
  left: -80px;
  width: 100%;
  .start-animation{
    position: absolute;
  }
  .loop-animation{
    position: absolute;
  }
  @media (min-width: 769px) {
    top: -20px;
  }
  @media (min-width: 1280px) {
    top: -75px;
  }
  @media (min-width: 1620px) {
    top: -150px;
  }
}