<section class="approach">
    <h3>Our approach</h3>

    <div class="wrapper row center-xs">
        <div class="col-xs-12 col-sm-6 col-md-3 approach-background">
            <div class="approach-content">
                <div class="approach-image">
                    <img src="images/one.png" alt="1" />
                </div>
                <h4>Analysis</h4>
                <p>Validating the idea and identifying best approach is the most important for the right start. <b>Critical thinking</b> is a part of each our step.  </p>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3 approach-background">
            <div class="approach-content">
                <div class="approach-image">
                    <img src="images/two.png" alt="2">
                </div>
                <h4>Collaborative development</h4>
                <p> We will feel like a <b>natural part of your team</b> that can together create viable results. Yes, testing is always part of this process and possibly first. </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 approach-background">
            <div class="approach-content">
                <div class="approach-image">
                    <img src="images/three.png" alt="3">
                </div>
                <h4>Launch</h4>
                <p>We deliver unit-tested code with <b>continuous integration and delivery</b>. Deployment on testnet is strongly advised to be done first so you can be prepared for the mainnet. </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 approach-background">
            <div class="approach-content">
                <div class="approach-image">
                    <img src="images/four.png" alt="4">
                </div>
                <h4>Support</h4>
                <p>Writing upgradeable and <b>reliable</b> apps is our focus. You support your users, we’ll support you. </p>
            </div>
        </div>
    </div>
</section>
