<section class="approach" id="approach">
    <h2>Our approach</h2>

    <div class="wrapper row center-xs">
        <div class="col-xs-12 col-sm-6 col-md-3 approach-background">
            <div class="approach-content">
                <div class="approach-image">
                    <div id="discoveryAnimation"></div>
                </div>
                <h3>Discovery</h3>
                <p>Validating the idea and identifying best approach is the most important for the right start. <b>Critical thinking</b> is a part of each our step.  </p>
            </div>
        </div>


        <div class="col-xs-12 col-sm-6 col-md-3 approach-background">
            <div class="approach-content">
                <div class="approach-image">
                    <div id="collaborativeDevelopmentAnimation"></div>
                </div>
                <h3>Collaborative development</h3>
                <p> We will feel like a <b>natural part of your team</b> that can together create viable results. Yes, testing is always part of this process and possibly first. </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 approach-background">
            <div class="approach-content">
                <div class="approach-image">
                    <div id="launchAnimation"></div>
                </div>
                <h3>Launch</h3>
                <p>We deliver unit-tested code with <b>continuous integration and delivery</b>. Deployment on testnet is strongly advised to be done first so you can be prepared for the mainnet. </p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 approach-background">
            <div class="approach-content">
                <div class="approach-image">
                    <div id="supportAnimation"></div>
                </div>
                <h3>Support</h3>
                <p>Writing upgradeable and <b>reliable</b> apps is our focus. You support your users, we’ll support you. </p>
            </div>
        </div>
    </div>
</section>
