<div class="blog-row">
    <a class="blog-link" href="{{ .RelPermalink }}">
        <div class="row first-blog-background">
            <div class="flex center col-sm-12 col-md-6">
                <img alt="{{ .Title }} image" src="{{ index .Params "image" }}">
            </div>

            <div class="hidden-xs hidden-sm col-md-6 first-blog-content">
                <p>{{ .Date.Format "January, 2006." }}</p>
                <div>
                    <h3>{{ .Title }}</h3>
                    <p>{{ .Description }}</p>
                </div>
                <div class="blog-first-button">
                    <button class="link">READ ARTICLE</button>
                </div>
            </div>
        </div>


        <div class="other-blogs hidden-md hidden-lg">
            <p>{{ .Date.Format "January, 2006." }}</p>
            <h3>{{ .Title }}</h3>
        </div>
    </a>
</div>
