<section id="blog" class="wrapper blog">
    <h3>Blog</h3>
    <div class="blog-row">
        <div class="row first-blog-background">
            <div class="col-sm-12 col-md-6">
                <img alt="Private networks blog post image" src="images/firstblog.jpg">
            </div>

            <div class="hidden-xs hidden-sm col-md-6 first-blog-content">
                <p>June 26, 2018</p>
                <a target="_blank" class="blog-link" href="https://medium.com/coinmonks/so-you-dont-want-your-blockchain-network-to-be-public-bcc8ec676753">
                    <h4>So, you don’t want your blockchain network to be public?</h4>
                </a>
                <div class="blog-first-button">
                    <a target="_blank" href="https://medium.com/coinmonks/so-you-dont-want-your-blockchain-network-to-be-public-bcc8ec676753">
                        <button class="link">READ ARTICLE</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="other-blogs hidden-md hidden-lg">
            <p>June 26, 2018</p>
            <a target="_blank" rel="noreferrer"
               href="https://medium.com/coinmonks/so-you-dont-want-your-blockchain-network-to-be-public-bcc8ec676753">
                <h4>So, you don’t want your blockchain network to be public?</h4>
            </a>
        </div>
    </div>

    <div class="blog-row">
        <div class="col-xs-12 col-sm-12 col-md-6 other-blogs">
            <a target="_blank" class="blog-link" rel="noreferrer"
               href="https://medium.com/coinmonks/how-to-document-solidity-smart-contracts-with-no-sweat-e78936ede833">
                <div class="other-blogs-background">
                    <img alt="Solidity documentation blog post image" src="images/solidity.png">
                </div>
                <p>September 6, 2018</p>
                <h4>How to document Solidity smart contracts with no sweat</h4>
            </a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 other-blogs">
            <a target="_blank" class="blog-link" rel="noreferrer"
               href="https://medium.com/coinmonks/using-truffle-framework-in-an-advanced-way-7e32c11c97a9">
                <div class="other-blogs-background">
                    <img alt="Truffle advanced blog post image" src="images/truffle.png">
                </div>
                <p>June 26, 2018</p>
                <h4>Using Truffle framework in an advanced way</h4>
            </a>
        </div>
    </div>
    <div class="blog-second-button">
        <a target="_blank" class="blog-link" href="https://medium.com/@nodefactory" rel="noreferrer noopener">
            <button class="link">READ MORE</button>
        </a>
    </div>
</section>