<section class="wrapper ourclients">
    <a class="partner-logo allianceblock" title="AllianceBlock" href="https://allianceblock.io" target="_blank" rel="noreferrer noopener">
    </a>

    <a class="partner-logo eatmybet" title="EatMyBet" href="http://eatmybet.com" target="_blank" rel="noreferrer noopener">
    </a>

    <a class="partner-logo huskybytes" title="HuskyBytes" href="http://huskybytes.com" target="_blank" rel="noreferrer noopener">
    </a>

    <a class="partner-logo novo" title="Novo" href="https://novoprotocol.com" target="_blank" rel="noreferrer noopener">
    </a>

    <a class="partner-logo mythx" title="ConsenSys MythX" href="https://mythx.io" target="_blank" rel="noreferrer">
    </a>
</section>