<section class="wrapper ourclients">
    <a class="partner-logo allianceblock" title="AllianceBlock" href="https://allianceblock.io" target="_blank" rel="noreferrer noopener">
    </a>

    <a class="partner-logo consensys" title="Consensys" href="https://consensys.net" target="_blank" rel="noreferrer noopener">
    </a>

    <a class="partner-logo web3api" title="Web3API" href="https://web3api.dev" target="_blank" rel="noreferrer noopener">
    </a>

    <a class="partner-logo novo" title="Novo" href="https://novoprotocol.com" target="_blank" rel="noreferrer noopener">
    </a>

    <a class="partner-logo cryptotask" title="CryptoTask" href="https://www.cryptotask.org" target="_blank" rel="noreferrer">
    </a>
</section>
