<section id="contact" class="wrapper contact">
    <div class="col-xs-12 col-sm-10 col-md-10">
        <div id="contact-background">
            <h2>Get in touch</h2>
            <p>Tell us about your project. Let’s see how we can make it happen!</p>

            <form action="https://formspree.io/info@chainsafe.io" method="POST">
                <div class="contact-Column">
                    <div class="input-row">
                        <div class="input-row-first-input">
                            <input aria-label="subject" required type="text" name="subject"
                                   placeholder="I'm interested in"/>
                        </div>

                        <div class="input-row-second-input">
                            <input aria-label="email" type="text" name="email"  placeholder="Email"/>
                        </div>
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-row-third-input">
                        <input aria-label="Your company" type="text" name="company"  placeholder="Company"/>
                    </div>

                    <div class="input-row-fourth-input">
                        <input aria-label="Your name" type="text" name="name"  placeholder="Full name"/>
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-row-fifth-input">
                        <input aria-label="Description" type="textarea" name="description"  placeholder="Project description"/>
                    </div>
                </div>

                <div class="input-row submit-row">
                    <div class="submit-button">
                        <input type="submit" value="TALK TO OUR TEAM"/>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
