<header>
    <a href="/">
        <img src="images/NodeFactory-transparent.png" alt="NodeFactory logo" />
    </a>

    <nav class="col-md-12" id="menu-bar" style="max-width: 800px">
        <div id="menu">
            <i class="fa fa-bars hidden-lg"></i>
        </div>

        <ul class="nav" id="nav">
            <li><a href="#services">Services</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
        </ul>

    </nav>
    <div class="menu-bg" id="menu-bg"></div>
</header>