<header>
    <img src="images/NodeFactory-transparent.png" alt="NodeFactory logo" class="hidden-xs hidden-sm" />
    <nav class="col-md-12" id="menu-bar">
        <div id="menu">
            <i class="fa fa-bars hidden-md hidden-lg"></i>
        </div>

        <ul class="nav" id="nav">
            <li><a href="#services">Services</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#team">Team</a></li>
        </ul>

    </nav>
    <div class="menu-bg" id="menu-bg"></div>
</header>