<div class="row landing">
    {{- partial "header.html" . -}}

    <!--Landing-->
    <section class="landingcontent">
        <div class="row nomargin">
            <div class="tekst">
                <h1>Blockchain R&D company</h1>
                <h4>that turns ideas into reliable solutions.</h4>
                <a href="#contact">
                    <button>GET IN TOUCH</button>
                </a>
            </div>
        </div>

        <div class="illustrations">
            <img src="images/net.png" class="illustration-1" alt="network illustration">
        </div>
        <!-- TODO - adjust new loop animation -->
        <div class="factory-animation">
            <div class="start-animation" id="factoryAnimationStart"></div>
            <div class="loop-animation" id="factoryAnimationLoop"></div>
        </div>
    </section>
</div>
