<div class="row landing">
    <header>
        <img src="images/NodeFactory-transparent.png" alt="NodeFactory logo" class="hidden-xs hidden-sm" />
        <nav class="col-md-12" id="menu-bar">
            <div id="menu">
                <i class="fa fa-bars hidden-md hidden-lg"></i>
            </div>

            <ul class="nav" id="nav">
                <li><a href="#services">Services</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#team">Team</a></li>
            </ul>

        </nav>
        <div class="menu-bg" id="menu-bg"></div>
    </header>

    <!--Landing-->
    <section class="landingcontent">
        <div class="row">
            <div class="tekst">
                <h1>Blockchain R&D company</h1>
                <h2>that turns ideas into reliable solutions.</h2>
                <a href="#contact">
                    <button class="link">GET IN TOUCH</button>
                </a>
            </div>
        </div>

        <div class="illustrations">
            <img src="images/net.png" class="illustration-1" alt="network illustration">
            <img src="images/tvornica.png" class="illustration-2" alt="nodes illustration">
        </div>
    </section>
</div>
