<div class="row landing">
    {{- partial "header.html" . -}}

    <!--Landing-->
    <section class="landingcontent">
        <div class="row nomargin">
            <div class="tekst">
                <h1>Blockchain R&D company</h1>
                <h2>that turns ideas into reliable solutions.</h2>
                <a href="#contact">
                    <button>GET IN TOUCH</button>
                </a>
            </div>
        </div>

        <div class="illustrations">
            <img src="images/net.png" class="illustration-1" alt="network illustration">
            <img src="images/tvornica.png" class="illustration-2" alt="nodes illustration">
        </div>
    </section>
</div>
