<div class="row landing">
    {{- partial "header.html" . -}}

    <section class="landingcontent blog-header">
        <div class="row">
            {{ if eq .Title "Blog" }}
                <h4>Welcome to our blog</h4>
            {{ end }}

            {{ if eq .Title "Portfolio" }}
                <h4>Our work</h4>
            {{ end }}
        </div>

        <div class="illustrations">
            <img src="images/net.png" class="illustration-1" alt="network illustration">
        </div>
    </section>
</div>
