<section id="projects" class="projects">
    <div class="wrapper">
        <h3>Projects</h3>
        <div class="projects-list">
            <div class="project1">
                <div class="projectimg">
                    <img className="project" src="images/allianceblock_mock.png" alt="AllianceBlock">
                </div>

                <div class="row flex-column project-content">
                    <h4>Allianceblock</h4>
                    <p>Decentralized AI-powered investment and financing platform, community-driven and fully transparent.</p>
                    <p>Development done:<br>
                        - Smart contracts generation and deployment. <br>
                        - Multi-blockchain client wallet. <br>
                        - Scaling of backend transaction relaying. <br>
                    </p>

                    <h5>#nodejs #contractfactory #ethereum #microservices  </h5>
                </div>
            </div>
        </div>

        <div id="line">
            <h5> Connect with us to learn how we can transform your business! </h5>
        </div>
    </div>
</section>