<section id="projects" class="projects">
    <div class="projects-container">
        <h2>Projects</h2>
        <div class="projects-list">
            <div class="project">
                <div class="projectimg chainguardian">
                    <img class="circle" src="images/projects/Framecircle.png" alt="circle" />
                    <img class="imac" src="images/projects/ChainGuardian_imac_mock.png" alt="ChainGuardian"/>
                </div>

                <div class="flex-column project-content">
                    <h3>ChainGuardian</h3>
                    <p>All-in-one tool for Ethereum 2.0 validators. Analytics reporting with validator onboarding and deposit.</p><br />

                    <h5 class="list">{{ readFile "static/images/icons/desktop.svg" | safeHTML }}
                        <span>Desktop app development</span>
                    </h5>

                    <h5 class="list">{{ readFile "static/images/icons/blockchain.svg" | safeHTML }}
                        <span>Blockchain development</span>
                    </h5>

                    <h5 class="list">{{ readFile "static/images/icons/design.svg" | safeHTML }}
                        <span>UX/UI design</span>
                    </h5>
                </div>
            </div>

            <div class="project right-side">
                <div class="flex-column project-content">
                    <h3>Allianceblock</h3>
                    <p>Decentralized AI-powered investment and financing platform, community-driven and fully
                        transparent.</p><br />

                    <h5 class="list">{{ readFile "static/images/icons/blockchain.svg" | safeHTML }}
                        <span>Blockchain consulting</span>
                    </h5>

                    <h5 class="list small-width">{{ readFile "static/images/icons/mobile.svg" | safeHTML }}
                        <span>Mobile development</span>
                    </h5>

                    <h5 class="list">{{ readFile "static/images/icons/support.svg" | safeHTML }}
                        <span>Support</span>
                    </h5>
                </div>

                <div class="projectimg">
                    <img class="circle" src="images/projects/Framecircle.png" alt="circle" />
                    <img class="imac" src="images/projects/AB_imac_mock.png" alt="AllianceBlock"/>
                </div>
            </div>

            <div class="project">
                <div class="projectimg">
                    <img class="circle" src="images/projects/Framecircle.png" alt="circle" />
                    <img class="imac" src="images/projects/Hactar_imac_mock.png" alt="Hactar"/>
                </div>

                <div class="flex-column project-content">
                    <h3>Hactar</h3>
                    <p>Monitoring app for Filecoin miner nodes with statistics dashboard, earnings optimizations and offline alerts.</p><br />

                    <h5 class="list">{{ readFile "static/images/icons/development.svg" | safeHTML }}
                        <span>Web development</span>
                    </h5>

                    <h5 class="list">{{ readFile "static/images/icons/blockchain.svg" | safeHTML }}
                        <span>Go plugin development</span>
                    </h5>

                    <h5 class="list">{{ readFile "static/images/icons/consulting.svg" | safeHTML }}
                        <span>Product management</span>
                    </h5>
                </div>
            </div>
        </div>

        <div class="see-more">
            <p>Looking for more?</p>
            <a href="/portfolio">
                <button class="link box">View portfolio</button>
            </a>
        </div>
    </div>
</section>
