<section id="projects" class="projects">
    <div class="">
        <h3>Projects</h3>
        <div class="projects-list">
            <div class="project1">
                <div class="projectimg">
                    <img className="project" src="images/home_project_CG_large.png"
                         srcset="images/home_project_CG.png 480w images/home_project_CG_large.png 800w"
                         alt="ChainGuardian">
                </div>

                <div class="row flex-column project-content">
                    <h4>ChainGuardian</h4>
                    <p>All-in-one tool for Ethereum 2.0 validators.</p>
                    <p>
                        - Analytics reporting and node monitoring. <br>
                        - Validator onboarding flow with deposit. <br>
                        - Beacon node management. <br>
                        - Hardware wallet integration. <br>
                    </p>

                    <h5>#Electron #Ethereum #ProofOfStake #crossplatform</h5>
                </div>
            </div>

            <div class="project2">
                <div class="row flex-column project-content">
                    <h4>Allianceblock</h4>
                    <p>Decentralized AI-powered investment and financing platform, community-driven and fully
                        transparent.</p>
                    <p>Development done:<br>
                        - Smart contracts generation and deployment. <br>
                        - Multi-blockchain client wallet. <br>
                        - Scaling of backend transaction relaying. <br>
                    </p>

                    <h5>#nodejs #contractfactory #ethereum #microservices </h5>
                </div>

                <div class="projectimg">
                    <img className="project" src="images/home_project_AB_large.png"
                         srcset="images/home_project_AB.png 480w images/home_project_AB_large.png 800w"
                         alt="AllianceBlock">
                </div>
            </div>
        </div>

        <div class="project1">
            <div class="projectimg">
                <img className="project" src="images/home_project_hactar_large.png"
                     srcset="images/home_project_hactar.png 480w images/home_project_hactar_large.png 800w"
                     alt="Hactar">
            </div>

            <div class="row flex-column project-content">
                <h4>Hactar</h4>
                <p>Monitoring app for Filecoin miner nodes.</p>
                <p>
                    - Go plugin development. <br>
                    - Web app with statistics dashboard. <br>
                    - Offline monitoring. <br>
                </p>

                <h5>#filecoin #go #typescript </h5>
            </div>
        </div>

        <div id="line">
            <h5> Connect with us to learn how we can transform your business! </h5>
        </div>
    </div>
</section>