<section id="services" class="wrapper services">
    <h2>What we can do for you</h2>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-12">
            <p>Node Factory is committed to developing new technologies and leveraging them to make better applications worldwide.
        </div>
    </div>
    <div class="row center-xs">
        <div class="flex col-xs-12 col-sm-6 col-md-3 ">
            <div class="service-content service-background">
                <i class="fas fa-laptop-code fa-4x"></i>
                <h3>Blockchain development</h3>
                <p>Starting from zero with can be hard. Let us boost your product development by taking care of the blockchain architecture!</p>
            </div>
        </div>

        <div class="flex col-xs-12 col-sm-6 col-md-3">
            <div class="service-content service-background">
                <img src="images/complete-solutions.png" alt="Complete solutions">
                <h3>Complete solutions</h3>
                <p>With variety of our skills we can help you build complete web or mobile app. That way you can quickly have your MVP launched.</p>
            </div>
        </div>

        <div class="flex col-xs-12 col-sm-6 col-md-3">
            <div class="service-content service-background">
                <img src="images/consulting.png" alt="Consulting">
                <h3>Consulting</h3>
                <p>We help companies achieve their business goals. Integrating blockchain with existing services? We are here to answer the tough questions.</p>
            </div>
        </div>

        <div class="flex col-xs-12 col-sm-6 col-md-3">
            <div class="service-content service-background">
                <i class="fas fa-network-wired fa-4x"></i>
                <h3>Infrastructure</h3>
                <p>We tackle blockchain infrastructure challenges, develop necessary tooling and other things to help build better Web3. </p>
            </div>
        </div>
    </div>
</section>
