<div class="social-buttons">
    <a class="social-buttons-background" href="https://github.com/nodefactoryIo" rel="noreferrer" aria-label="NodeFactory Github">
        <i class="fab fa-github"></i>
    </a>

    <a class="social-buttons-background" href="https://www.linkedin.com/company/nodefactory" rel="noreferrer" aria-label="NodeFactory Linkedin">
        <i class="fab fa-linkedin-in"></i>
    </a>

    <a class="social-buttons-background" href="https://twitter.com/nodefactoryio" rel="noreferrer" aria-label="NodeFactory Twitter">
        <i class="fab fa-twitter"></i>
    </a>

    <a class="social-buttons-background" href="https://medium.com/@nodefactory" rel="noreferrer" aria-label="NodeFactory Medium">
        <i class="fab fa-medium-m"></i>
    </a>
</div>