<section class="wrapper team">
    <h3>Team</h3>
    <div class="team-row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Gutlic Belma" src="images/Gutlic_Belma.jpg" />
                <div class="team-name">
                    <h6>Belma Gutlić</h6> <br /><br />
                    <h7>Making it happen</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>Adventurous spirit with a passion for creating and developing new things. <br />
                            Executive, but also a software engineer.</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/belmagutlic/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://github.com/morrigan">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Petrunic Marin" src="images/Petrunic_Marin.jpg" />
                <div class="team-name">
                    <h6>Marin Petrunić</h6><br /><br />
                    <h7>Making it work, on all environments</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>CTO that loves to review code and find bugs as much as trying out new cuisine.</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://github.com/mpetrunic">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/mpetrunic/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://twitter.com/MarinPetrunic">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Muftic Mak" src="images/Muftic_Mak.jpeg" />
                <div class="team-name">
                    <h6>Mak Muftić</h6><br /><br />
                    <h7>Trying to make it work</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>Chatty person in a quest for knowledge and with passion for technology. Loves to code and draw diagrams.</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://github.com/MakMuftic">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/mak-muftic-763650137/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Rubido Ivan" src="images/Ivan_rubido.jpg" />
                <div class="team-name">
                    <h6>Ivan Rubido</h6><br /><br />
                    <h7>Displaying the right things</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>Frontend developer with passion for details, jumping high and catching fishes underwater.</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://github.com/irubido">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/ivan-rubido-917169151/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />

    <h4>Wish to join our team?</h4>
    <h6><a href= "mailto: info@nodefactory.io">Let us know more about you!</a></h6>
</section>