<section id="team" class="wrapper team">
    <h2>Team</h2>
    <div class="team-row center">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Gutlic Belma" src="images/Gutlic_Belma.jpg" />
                <div class="team-name">
                    <h6>Belma Gutlić</h6> <br /><br />
                    <h7>Chief</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>Adventurous spirit with a passion for creating and developing new things. <br />
                            Executive, but also a software engineer.</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/belmagutlic/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://github.com/morrigan">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Petrunic Marin" src="images/Petrunic_Marin.jpg" />
                <div class="team-name">
                    <h6>Marin Petrunić</h6><br /><br />
                    <h7>Chief of tech</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>CTO that loves to review code and find bugs as much as trying out new cuisine.</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://github.com/mpetrunic">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/mpetrunic/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://twitter.com/MarinPetrunic">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="team-row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Muftic Mak" src="images/Muftic_Mak.jpeg" />
                <div class="team-name">
                    <h6>Mak Muftić</h6><br /><br />
                    <h7>Software engineer</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>Chatty fullstack developer in a quest for knowledge and with passion for technology. Draws diagrams too.</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://github.com/MakMuftic">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/mak-muftic-763650137/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Rubido Ivan" src="images/Ivan_rubido.jpg" />
                <div class="team-name">
                    <h6>Ivan Rubido</h6><br /><br />
                    <h7>Software engineer</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>Frontend developer with passion for details, jumping high and catching fishes underwater.</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://github.com/irubido">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/ivan-rubido-917169151/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Mlinaric Nikola" src="images/Mlinaric_Nikola.jpg" />
                <div class="team-name">
                    <h6>Nikola Mlinarić</h6><br /><br />
                    <h7>Software engineer</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>Backend, smart contract developer and our DJ in the office since day 1!</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://github.com/nmlinaric">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/nikola-mlinari%C4%87-6159b1168/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Petrunic Matija" src="images/Petrunic_Matija.jpg" />
                <div class="team-name">
                    <h6>Matija Petrunić</h6><br /><br />
                    <h7>Software engineer</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>Backend developer trying to make sense of the blockchain ecosystem.</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://github.com/mpetrun5">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/matija-petruni%C4%87-4b78a615b/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Stojanovic Bernard" src="images/Stojanovic_Bernard.jpg" />
                <div class="team-name">
                    <h6>Bernard Stojanović</h6><br /><br />
                    <h7>Software engineer</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>Frontend developer that turned from a passionate gamer to a passionate code writer.</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://github.com/BeroBurny">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/bernard-stojanovi%C4%87-4a9b7a110/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Mario Hržina" src="images/mario_hrzina.jpeg" />
                <div class="team-name">
                    <h6>Mario Hržina</h6><br /><br />
                    <h7>Software engineer</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>Frontend developer ready to make better blockchain interactions UX!</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://github.com/mrhr8">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/mario-hr%C5%BEina-428759200/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="team-content">
                <img alt="Tihomir Car" src="images/tihomir_car.jpeg" />
                <div class="team-name">
                    <h6>Tihomir Car</h6><br /><br />
                    <h7>Software engineer</h7>
                </div>

                <div class="first-team-member-overlay">
                    <div class="first-team-member-overlay-content">
                        <p>Backend developer making cross chain interoperability possible.</p>

                        <div class="team-social-buttons">
                            <div class="team-social-buttons-background">
                                <a href="https://github.com/tcar121293">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>

                            <div class="team-social-buttons-background">
                                <a href="https://www.linkedin.com/in/tihomir-car-313078ab/">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br />

    <h3>Wish to join our team?</h3>
    <h6><a href= "mailto: info@nodefactory.io">Let us know more about you!</a></h6>
</section>
