<section id="testimonials" class="testimonials">
    <i class="fas fa-quote-right"></i>

    <a class="carousel-control left">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control right">
        <i class="fas fa-chevron-right"></i>
    </a>

    <div class="siema-testimonials">
        <div class="content">
            <h6>They have a variety of skills and possess insights regarding a wide array of subjects.</h6>
            <img class="testimonials-image" src="images/matthijs_allianceblock.png" alt="Matthijs de Vries"/>
            <h5>Matthijs de Vries, AllianceBlock</h5>
        </div>

        <div class="content">
            <h6>NodeFactory felt like a natural part of the team from the beginning.</h6>
            <img class="testimonials-image" src="images/john_novoprotocol.jpg" alt="John Potter"/>
            <h5>John Potter, Novo</h5>
        </div>
    </div>
</section>