.flex-1 {
  flex: 1;
}

.hide-mobile {
  @media screen and (max-width: 480px) {
    display: none !important;;
  }
}

.hide-small {
  @media screen and (min-width: 480px) and (max-width: 768px) {
    display: none !important;;
  }
}