.factory-animation{
  position: absolute;
  z-index: 1;
  top: -10px;
  right: 0px;
  width: 80%;
  height: auto;
  .start-animation{
    position: absolute;
    z-index: 3;
    height: 400px;
    right: 0px;
  }
  .loop-animation{
    position: absolute;
    z-index: 2;
    height: 400px;
    right: 0px;
  }
  @media (min-width: 480px) {
    width: 60%;
    .start-animation{
      height: 500px;
    }
    .loop-animation{
      height: 500px;
    }
  }
  @media (min-width: 768px) {
    width: 50%;
    .start-animation{
      height: 600px;
    }
    .loop-animation{
      height: 600px;
    }
  }
  @media (min-width: 870px) {
    top: -140px;
    .start-animation{
      height: 700px;
    }
    .loop-animation{
      height: 700px;
    }
  }
  @media (min-width: 1700px) {
    top: -140px;
    width: 60%;

    .start-animation{
      height: 700px;
    }
    .loop-animation{
      height: 700px;
    }
  }
}
